<!DOCTYPE html>
<html lang="en-us">
  <head>
    <title><%= title %></title>
    <meta charset="utf-8"
    <meta name="author" content="<%= author %>" />
    <meta name="description" content="<%= description %>" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/assets/vendor.css" />
    <link rel="stylesheet" href="/assets/base.css" />
    <script src="/assets/vendor.js"></script>
  </head>
  <body>
    <header>
      <%= header %>
    </header>

    <section id="content">
      <%= content %>
    </section>

    <footer>
      <%= footer %>
    </footer>

  </body>
</html>

