<!DOCTYPE html>
<html lang="en-us">
  <head>
    <title><%= title %></title>
    <meta charset="utf-8"
    <meta name="author" content="<%= author %>" />
    <meta name="description" content="<%= description %>" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/assets/application.css" />
    <script src="/assets/application.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css' />
  </head>
  <body>
    <header>
      <%= header %>
    </header>

    <div id="slide-list">
      <div id="slide-list-inner">
        <%= yield %>
      </div>
    </div>

    <section id="slides">
      <%= yield %>
      <div id="slide-status"></div>
    </section>

    <footer>
      <%= footer %>
    </footer>

    <div id="help" class="reveal-modal">
       <h1>Help</h1>
       <p>? for help</p>
       <p>l to list all slides</p>
       <p>&#9664; arrow for previous slide</p>
       <p>&#9658; arrow for next slide</p>
       <p>'X &lt;ENTER&gt;' to jump to a slide</p>
       <a class="close-reveal-modal">&#215;</a>
    </div>

    <script type="text/template" id="slide-status-template">
      {{= currentSlideNumber }} / {{= totalSlideNumber }} ({{= percentageComplete }}%)
    </script>
  </body>
</html>

